<h1>Welcome, Newbie!</h1>
<h2>Create Yourself</h2>
<form method="post" action="/signup">
  <p><label for="name">Name: </label><input type="text" name="board_member[name]" id="name"></p>
  <p><label for="email">Email: </label><input type="text" name="board_member[email]" id="email"></p>
  <p><label for="phone">Phone: </label><input type="tel" name="board_member[phone]" id="phone"
                                              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"></p>
  <p><label for="title">Title: </label><input type="text" name="board_member[title]" id="title"></p>
  <p><label for="password">Password: </label><input type="text" name="board_member[password]" id="password"></p>
  <input type="submit" id="Sign up" value="Sign Up">
</form>
