<div class="container">
  <img src="images/PCYD_logo.png"  class="center">
  <div class="col-md-8 col-md-offset-2">
    <h2>PCYD Home</h2>

    <div class="content">
      <p>Welcome to Pinellas County Young Dems!</p>
      <p>
        <%if !logged_in?%>
          <a href="/login">Log-in</a> or <a href="/signup">Sign-up</a>
        <%else%>
          Hey there, <%=current_user.name%>
        <%end%>
      </p>
    </div>


  </div>
</div>
